<script>
	function getdata(id){
		$.ajax({
			url:'[[@{/checkid}]]',
			data:{"id":id},
			success:function(data){
				if(data==0){
					$('#id_span').text("아이디 중복");
				}else{
					$('#id_span').text("사용 가능");
				}
			},
			error:function(){}
		});
	};

	$(document).ready(function(){
		$('input[name="id"]').keyup(function(){
			var id = $(this).val();
			getdata(id);
		});
	});
</script>

<h1>ajax/ch3</h1>
<form id="login_form">
	ID<input type="text" name="id"><span id="id_span"></span><br>
	PWD<input type="password" name="pwd"><span id="pwd_span"></span><br>
	<a href="#">LOGIN</a>
</form>