<style>
#container {
	width: 99%;
	height: 400px;
	border: 2px solid red;
}
</style>

<script>
	function displaychart(data){
		// Set up the chart
		const chart = new Highcharts.Chart({
		  chart: {
		    renderTo: 'container',
		    type: 'column',
		    options3d: {
		      enabled: true,
		      alpha: 15,
		      beta: 15,
		      depth: 50,
		      viewDistance: 25
		    }
		  },
		  xAxis: {
		    categories: data.month
		  },
		  yAxis: {
		    title: {
		      enabled: false
		    }
		  },
		  tooltip: {
		    headerFormat: '<b>{point.key}</b><br>',
		    pointFormat: 'Cars sold: {point.y}'
		  },
		  title: {
		    text: 'Sold passenger cars in Norway by brand, January 2021',
		    align: 'left'
		  },
		  subtitle: {
		    text: 'Source: ' +
		      '<a href="https://ofv.no/registreringsstatistikk"' +
		      'target="_blank">OFV</a>',
		    align: 'left'
		  },
		  legend: {
		    enabled: false
		  },
		  plotOptions: {
		    column: {
		      depth: 25
		    }
		  },
		  series: [{
		    data: data.mdata,
		    colorByPoint: true
		  }]
		});
	};
	
	function getdata(){
		$.ajax({
			url:'[[@{/chart1}]]',
			success:function(data){
				// [111,222,333,444,...]
				// {'x':['1','2','3',...], 'mdata':[111,222,333,444,...]} 여러개의 배열을 담기
				displaychart(data);
			}
		});
	}

	$(document).ready(function() {
		getdata();
	});
</script>

<h1>chart/ch2</h1>
<div id="container"></div>