<style>
#container {
	width: 99%;
	height: 400px;
	border: 2px solid red;
}
</style>

<script>
	function chart(data){
		Highcharts.chart('container', {
		    chart: {
		        type: 'column'
		    },
		    title: {
		        text: 'Monthly Average Rainfall'
		    },
		    subtitle: {
		        text: 'Source: WorldClimate.com'
		    },
		    xAxis: {
		        categories: data.month,
		        crosshair: true
		    },
		    yAxis: {
		        min: 0,
		        title: {
		            text: 'Rainfall (mm)'
		        }
		    },
		    tooltip: {
		        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
		        footerFormat: '</table>',
		        shared: true,
		        useHTML: true
		    },
		    plotOptions: {
		        column: {
		            pointPadding: 0.2,
		            borderWidth: 0
		        }
		    },
		    series: data.data
		});
	}
	
	function getdata(sm,em){
		$.ajax({
			url:'[[@{/chart3}]]',
			data:{'sm':sm, 'em':em},
			success:function(data){
				chart(data);
			}
		});
	}

	$(document).ready(function(){
		getdata(1,12);
		$('#btn').click(function(){
			var sm = $('#start_month').val();
			var em = $('#end_month').val();
			
			if(sm>em){
				alert('다시 입력하세요.');
				return;
			}
			getdata(sm,em);
		});
	});
</script>

<h1>chart/ch4</h1>
<div id="month">
	Start month<select id="start_month">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	~ End month<select id="end_month">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	<button id="btn">Get Data</button>
</div>
<div id="container"></div>